beautifulsoup4==4.12.2
CacheControl==0.13.1
certifi==2023.7.22
charset-normalizer==3.2.0
cssselect==1.2.0
dnspython==2.4.2
feedparser==6.0.10
filelock==3.12.2
idna==3.4
lxml==4.9.3
msgpack==1.0.5
pymongo==4.4.1
pyquery==2.0.0
requests==2.31.0
sgmllib3k==1.0.0
soupsieve==2.4.1
tenacity==8.2.3
urllib3==2.0.4
